body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/background.webp'); 
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    text-align: center;
}


.login-box {
    text-align: center;
    width: auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px 0;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 8px; 
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    text-decoration: none;
    overflow: hidden; 
    position: relative;
}

.social-btn img {
    width: 100px; 
    height: auto; 
}



.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 15px;
}

p a {
    color: #007bff;
    text-decoration: none;
}